<div class="container mt-5">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-4">
                    <u><p>Account</p></u>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-column">
                <div class="p-1">
                    <button style="background-color: whitesmoke;" type="button" [routerLink]="['/news-feeds']" class="btn w-75 ">Newsfeed</button>
                </div>
                <div class="p-1">
                    <button style="background-color: whitesmoke;" type="button" [routerLink]="['/account-update']" class="btn  w-75">AccountUpdate</button>
                </div>
                <div class="p-1">
                    <button style="background-color: whitesmoke;" type="button" [routerLink]="['/search']" class="btn w-75">Search</button>
                </div>
                <div class="p-1">
                    <button style="background-color: whitesmoke;" type="button" [routerLink]="['/logout']" (click)="message()" class="btn w-75">Logout</button>
                </div>
            </div>
  
        </aside> 
    
  
          
        <section class="col-sm-9 pl-5">
              <div class="card-columns">
            <div class="card">
              <div class="card-img-top">
                <img class="card-body w-100 h-100" src="assets/img/trivikram.jpg" alt="Card image">
              </div>
              <div class="card-body justify-content-center">UserName</div>
              <div class="card-footer  justify-content-center">
                  <button style="background-color: red;" type="button" class="btn ">Unblock</button>
              </div>
          </div>
            
          <div class="card">
            <div class="card-img-top">
              <img class="card-body w-100 h-100" src="assets/img/trivikram.jpg" alt="Card image">
            </div>
            <div class="card-body justify-content-center">UserName</div>
            <div class="card-footer  justify-content-center">
                <button style="background-color: red;" type="button" class="btn ">Unblock</button>
            </div>
        </div>
  
        <div class="card">
          <div class="card-img-top">
            <img class="card-body w-100 h-100" src="assets/img/trivikram.jpg" alt="Card image">
          </div>
          <div class="card-body justify-content-center">UserName</div>
          <div class="card-footer  justify-content-center">
              <button style="background-color: red;" type="button" class="btn ">Unblock</button>
          </div>
      </div>
        <div class="card">
          <div class="card-img-top">
          <img class="card-body w-100 h-100" src="assets/img/trivikram.jpg" alt="Card image">
         </div>
         <div class="card-body justify-content-center">UserName</div>
         <div class="card-footer  justify-content-center">
            <button style="background-color: red;" type="button" class="btn ">Unblock</button>
         </div>
    </div>
    <div class="card">
      <div class="card-img-top">
        <img class="card-body w-100 h-100" src="assets/img/trivikram.jpg" alt="Card image">
      </div>
      <div class="card-body justify-content-center">UserName</div>
      <div class="card-footer  justify-content-center">
          <button style="background-color: red;" type="button" class="btn ">Unblock</button>
      </div>
  </div>
    </div>
        </section>
          