<div class="container mt-4">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-2">
            <div class="row justify-content-center mb-5">
                    <u><a href="#">Account</a></u>
            </div>
            <app-login-registration></app-login-registration>
        </div>
    </aside> 
        <section class="col-sm-9">
            <div class="row justify-content-start mb-3 ">
                <div class="h3">
                    Login 
                </div>
            </div>
                <app-form></app-form>
        </section>
    </div>
    </div>