<div class="row">
    <div class="col-sm-3">
        <div class="d-flex justify-content-start">
            <img style="border-radius: 10%" src="G:\HTML\project\logo.jpg"  alt="logo">
        </div>
    </div>
    <div class="col-sm-6">
        <nav>
            <ul class="nav  nav-tab nav-justified">
                <li class="nav-item">
                    <a href="#" class="nav-link  text-dark">Upload-Media</a>
                </li>
                <li class="nav-item">
                    <a href="#+" class="nav-link text-dark">MyMedia</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark">Follower/Followers</a>
                </li>
            </ul>
        </nav>
    </div>
   
    <div class="col-sm-3" >
        <div class="d-flex justify-content-end">
            <button style="background-color: whitesmoke;" type="button" class="p-1 btn  w-50">Account</button>
        </div>
    </div>
</div>
