
<div class="row">
    <div class=" offset-sm-2 col-4">
        <label for="">Product name</label>
    </div>
    <div class="  col">
        <input type="text" #txtname />
    </div>
</div>
<div class="row">
    <div class=" offset-sm-2 col-4">
        <label for="">Product catgeory</label>
    </div>
    <div class="col">
        <input type="text" #txtcat />
    </div>
</div>
<div class="row" >
    <div class=" offset-sm-2 col-4">
        <label for="">Product cost</label>
    </div>
    <div class="col">
        <input type="text" #txtcost />
    </div>
</div>
<div class="row">
    <div class=" offset-sm-2 col">
        <input type="button" value="save" (click)="saveItem(txtname,txtcat,txtcost)"/>
    </div>
</div>

<br><br>
